<tr id="<%= dom_id(work) %>">
  <td class="drag_handle">&raquo;</td>
  <td><%= image_tag work.image(:small) -%></td>
  <td><%= work.title -%></td>  
  <td><%= work.category.name  unless work.category.nil? -%></td>
  <td><%= link_to 'edit', edit_admin_work_path(work) -%> | <%= link_to 'x', admin_work_path(work), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>